# ==========================
# Operating System Files
# ==========================

.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# Log Files
# ==========================

*.log

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp
*.bak
*.swp
*.swo

# ==========================
# Python Cache
# ==========================

__pycache__/
*.py[cod]

# ==========================
# Virtual Environments
# ==========================

venv/
.env/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# JetBrains IDEs
# ==========================

.idea/

# ==========================
# Backup Files
# ==========================

*~
